html,body {
    height: 100%;
    font-size: 16px;
    margin: 0px;
    background-color: #f6f6f6;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F4F4F;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: rgb(20, 131, 210);
  }

  .IRight{
      float : right;
  }
  
  .List{
    width: 90%;
    margin: 4% 3%;
    padding:2%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
  }

  .List h1{
      text-align: center;
  }

  .List table{
     width: 100%;
     text-align: center;
  }

 .List td {
    border-top: 1px solid #ddd;
    padding: 2% 0%;
  }
  
  .whereFrom{
    background-color: #4682B4;
    color: #f6f6f6;
    text-align: center;
    padding: 1%;
    margin: 0%;
  }

.myButton {
box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}

.login{
  margin: 5% 25%;
  padding: 2%;
  width:46%;
  border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    text-align: center;
}

.registration{
  margin: 2% 20%;
  padding: 2%;
  width:56%;
  border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    text-align: center;
}

.ListwB{
    width: 50%;
    margin: 2% 5%;
    padding: 2%;
    position: absolute;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
  }

  .ListwB h1{
      text-align: center;
  }

  .ListwB table{
     width: 100%;
     text-align: center;
  }

 .ListwB td {
    border-bottom: 1px solid #ddd;
    padding: 2% 0%;
  }
  

.Basket{
    width: 30%;
    margin: 2% 5%;
    left: 60%;
    position: fixed;
    text-align: center;
    background-color: #f6f6f6d7;;
    border-radius:6px;
    height: 70%;
    overflow: hidden;
    
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
    
}



.Basket h1{
    margin-top: 0px;
    border-radius:6px;
    color: white;
    background-color: #4682B4;
}

.Basket table{
    width : 100%;
    text-align: center;
}

.Basket #footBask{
    bottom: 0%;
    position: absolute;
}

.Basket2{
  width: 70%;
  margin: 4% 15%;
  padding: 0% 0% 2% 0%;
  text-align: center;
  background-color: #f6f6f6d7;;
  border-radius:6px;
  height: 70%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  
}

.Basket2 h1{
  margin-top: 0px;
  border-radius:6px;
  color: white;
  background-color: #4682B4;
}

.Basket2 table{
  width : 100%;
}

.Basket2 button{
  margin : 0.5%;
}

.Basket2 #footBask{
  bottom: 0%;
  position: absolute;
}

.Bask{
    height: 85%;
    overflow: scroll;
}

.profile{
  width: 40%;
  margin: 2% 26%;
  padding: 2%;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  text-align: center;
}
.WriteComment{
  text-align: center;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

footer{
    background-color: #333;
    color: white;
    padding:0.5%;
    text-align: center;
}

#containerl{
    position: relative;
    height: 140%;
}
